@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Robot-Italic.ttf) format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Light.ttf) format('truetype');
    font-weight: light;
}


body {
    font-family: 'Roboto';
    margin: 0;
}

#hero {
    padding: 20px 10em 50px 10em;
    background-color: #1F2937;
}

.nav-links {
    display: flex;
}

#logo {
    flex: 7;
    margin-right: 20px;
    text-decoration: none;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.nav-item {
    flex: 1;
    margin: 0 1em;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

#heroMain {
    margin-top: 100px;
    display: flex;
}

#heroText h1 {
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
    display: inline;
}

#heroText p {
    font-size: 18px;
    color: #E5E7EB;
}

#heroText a,
input[type="submit"] {
    background-color: #3882F6;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 18px;
    color: #f9faf8;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}


#heroText a:hover {
    background-color: #27518b;
}

#heroText a:focus {
    background-color: #93e60f;
    color: #1F2937;
}

#heroImg {
    margin-left: 20px;
}

#heroImg img {
    width: 500px;
}

#information {
    padding: 40px 10em 50px 10em;
}

#informationHeader {
    text-align: center;
    font-size: 36px;
    font-weight: 1200;
    color: #1f2937;
}

#informationContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#informationContent img {
    width: 200px;
    height: 200px;
    border: #3882F6 solid 5px;
    border-radius: 20px;
}

.information-item {
    margin: 0 1.5em;
    flex: 1;
    text-align: center;
    font-size: 18px;
}

#Quote {
    padding: 40px 20em 80px 20em;
    background-color: #E5E7EB;
}

#Quote #header {
    text-align: center;
    font-size: 36px;
    font-weight: 1200;
    color: #1f2937;
}

#Quote #content {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

#Quote #author {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

#CallToAction {
    padding: 80px 15em 90px 15em;

}

#CallToActionFrame {
    background-color: #3882f6;
    padding: 20px 50px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

#CallToActionText h1 {
    font-size: 24px;
    color: #F9FAF8;
}

#CallToActionText p {
    font-size: 18px;
    color: #E5E7EB;
}

#CallToActionFrame a {
    background-color: #3882F6;
    border: 3px solid #f9faf8;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 18px;
    color: #f9faf8;
    font-weight: bold;
    cursor: pointer;
    height: 20px;
    align-self: center;
    text-decoration: none;
}

footer {
    padding: 20px 10em;
    background-color: #1F2937;
}

#footerText {
    text-align: center;
    font-size: 18px;
    color: #E5E7EB;
}

#footerIcons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerIcons img {
    width: 50px;
    margin: 0 1em;
    background-color: #3882F6;
    border-radius: 50px;
}


#Contact {
    padding: 40px 10em 50px 10em;
    background-color: #E5E7EB;
    display: flex;

}

#ContactForm {
    display: flex;
    flex-direction: column;
    flex: 5;
    padding: 20px;
    background-color: rgb(169, 205, 235);
    border-radius: 10px;
    border: #3882F6 solid 1px;
}

input, textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid #3882F6;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-size: 18px;
}

#Address {
    flex: 5;
    padding: 20px;
    border: #3882f6 solid 1px;
    margin-left: 20px;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 10px;
}

iframe {
    height: 75%;
    width: 100%;
    border: #3882f6 solid 5px;
    border-radius: 20px;
    z-index: 99;
}

#Contact input[type="submit"] {
    border: #e8e9e9 solid 5px;
    width: 50%;
    align-self: end;
}

#Address h3 {
    text-align: start;
    font-size: 24px;
}

#Address span {
    text-align: start;
    display: inline;
    font-style: italic;
    font-weight: lighter;
    font-size: 24px;
}

#AboutVideo {
    width: 100%;
    margin-bottom: -5px;
}

#rain {
    position: relative;
}

#rain h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 48px;
    color: #E5E7EB;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 50px;
}

#rain video {
    position: relative;
    z-index: 0;
}